.logo-cloud-container {
  overflow: hidden;
}

.scrolling-wrapper {
  white-space: nowrap;
  overflow: hidden;
}

.image-container {
  display: inline-flex;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logo-image {
  flex: 0 0 auto;
  max-height: 12px; /* Adjust based on your needs */
  width: auto;
  object-fit: contain;
}